default: &default
  adapter: postgresql
  encoding: unicode
  hostname: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: funbox_development

test:
  <<: *default
  database: funbox_test
